@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg-img {
    background: url(image/wp2915539-dark-nature-wallpapers.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bg-img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0, 7)
}

.content {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width: 370px;
    text-align: center;
    padding: 60px 32px;
    background: rgb(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgb(0, 0, 0, 0.75);
}

.content header {
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35 0;
    font-family: 'monntserrat', sans-serif;
}

.field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgb(255, 255, 255, 0.94);
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;

}

.field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.show{
    position: absolute;
    right: 13PX;
    font-size: 13PX;
    font-weight: 700;
    color: #222;
    cursor: pointer;
    display: none;
    font-family: 'monntserrat', sans-serif;
}
.password:valid ~ .show{
    display: block;
}

.space {
    margin-top: 16px;
}

.pass{
    text-align: left;
    margin: 10px;
}
.pass a{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.pass:hover a{
    text-decoration: underline;
}



input[type="submit"]{
    background: #3498db;
    border: 1px solid #2691d0;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'monntserrat', sans-serif;
}
input[type="submit"]:hover{
    background: #2691d0;
}



.login{
    color: white;
    margin: 20px 0;
    font-family: 'monntserrat', sans-serif;
}
.link{
    display: flex;
    cursor: pointer;
    color: white;
    color: 0 0 20px 0;
}
.facebook, .instagram{
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 10px;
}
.facebook{
    margin-left: 0px;
    background: #4267B2;
    border: 1px solid #3e61a8;
}
.instagram{
    background: #E1308C;
    border: 1px solid #df2060;
}

.link i{
    font-size: 17px;
}
.link span{
    font-size: 16px;
    margin-left: 8px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family:  'Poppins', sans-serif;
}
.signup{
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.signup a{
    color: #3498db;
    text-decoration: none;
}
.signup a:hover{
    text-decoration: underline;
}
